<div class="container">
  <h2>My todos</h2>

<h2> Hello! Welcome to the coolest todo-lister you ever saw, malady. Taboo likes to "get todo lists started" so click him to start getting it done.</h2>
<p>(You can also click the <b>Let's Get It Started</b> button below. :) )</p>

<a href="#/about"><img src="images/taboo.jpg" class="img-responsive"></a>

<br>
<a ng-href="#/about"> <input type="button" class="btn btn-sm btn-success" value="Let's Get It Started!" /></a>
<br>
<br>
  <p>And if you're feeling crazy, don't forget to run your list through the Errand Mapper - to see the most optimal errand route for you!</p>
</div>